{% extends 'layout/layout.html' %}


{% block title %} Главная страница {% endblock %}


{% block content %}
<ul class="content-main">
    <li><a class="content-main-item-max">приют</a><li>
    <li><a class="content-main-item-max-a">KindHands</a><li>
</ul>

<ul class="content-schedule-list">
    {% load static %}
    <img class="logo-main" src="{% static 'img/dog_logo_main.svg' %}"/>
</ul>

<ul class="content-main">
    <li><a class="content-main-item-min">Здесь вы можете посмотреть собак в приюте, пожертвовать средства на их содержание, а также приютить собаку или взять её на передержку в свои добрые руки!</a><li>
</ul>
{% endblock %}